<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Welcome, <%= user.username %>!</p>
    <!-- Add Admin specific content here -->


    <p>wwhhfdsffdfhdfsanu singh_ad</p>
    <p>this is my admin dashboard</p>
    <a href="/auth/logout">Logout</a>
</body>
</html>
