        <!-- footer begin -->
        <footer class="footer-light">
            <div class="container relative z-1000">
                <div class="row gx-5">
                    <div class="col-lg-4 col-sm-6">
                        <img src="Frontend-asset/images/sattava-manas-logo.webp" alt="">
                        <div class="spacer-20"></div>
                        <p>At Satva Manas, we understand that life's challenges can sometimes feel overwhelming, and
                            seeking support can be a daunting step. That's why our team of dedicated therapists is here
                            to provide you with the compassionate guidance and expert care you deserve.</p>

                    </div>
                    <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>Company</h5>
                                    <ul>
                                        <li><a href="#">Individual Therapy</a></li>
                                        <li><a href="#">Couples Counseling</a></li>
                                        <li><a href="#">Career Counseling</a></li>
                                        <li><a href="#">Stress management</a></li>
                                        <li><a href="#">Anxiety Treatment</a></li>
                                        <li><a href="#">Depression Therapy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>Our Services</h5>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Services</a></li>
                                        <li><a href="#">Study Case</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 order-lg-2 order-sm-1">
                        <div class="widget">

                            <div class="fw-bold text-dark"><i class="icofont-location-pin me-2 id-color"></i>Office
                                Location</div>
                            Sector 63 Noida

                            <div class="spacer-20"></div>

                            <div class="fw-bold text-dark"><i class="icofont-envelope me-2 id-color"></i>Send a Message
                            </div>
                            contact@eternityglobaltechnology.com

                            <div class="spacer-20"></div>

                            <div class="social-icons mb-sm-30">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-discord"></i></a>
                                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter relative z-1000">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col ">
                                    Copyright 2024 - Eternity Global Technology
                                </div>
                                <ul class="menu-simple">
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="Frontend-asset/js/plugins.js"></script>
    <script src="Frontend-asset/js/designesia.js"></script>
    <script src="Frontend-asset/js/swiper.js"></script>
    <script src="Frontend-asset/js/custom-marquee.js"></script>
    <script src="Frontend-asset/js/custom-swiper-1.js"></script>

    <!-- swipper slider  -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>