<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sattva Manas</title>
    <link rel="icon" href="images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <%- include('./header') %>

        <!-- content begin -->
        <div id="content" class="no-top no-bottom">
            <div id="top"></div>
            <!-- section begin -->
            <section id="de-subheader" class="mt-sm-60 pt20 pb20 bg-gradient-45-deg text-light">
                <div class="container relative z-index-1000">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3 class="mb-0">Our Services</h3>
                        </div>

                        <div class="col-lg-6 text-lg-end">
                            <ul class="crumb">
                                <li><a href="index.php">Home</a></li>
                                <li class="active">Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <section class="relative overflow-hidden">
                <img src="images/misc/flowers-crop-2.webp" class="w-40 absolute top-0 end-10 sw-anim" alt="">

                <div class="container">
                    <div class="row align-items-center g-4 gx-5">
                        <div class="col-lg-6">
                            <div class="subtitle wow fadeInUp mb-3">Our Services</div>
                            <h2 class="wow fadeInUp" data-wow-delay=".2s">Individual Therapy</h2>
                            <p class="lead">Individual therapy, also known as counseling or psychotherapy, is a
                                collaborative process between a therapist and a client that aims to explore and address
                                emotional, psychological, and behavioral challenges.
                            </p>

                            <div class="fs-14 text-dark fw-500">Start from</div>
                            <div class="mb-3">
                                <h2 class="d-inline id-color-2">$150</h2><span class="fs-14">/session</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img src="images/misc/6.webp" class="img-fluid rounded-20px" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-dark text-light jarallax">
                <img src="images/background/3.webp" class="jarallax-img" alt="">
                <div class="container">

                    <div class="row g-4">
                        <div class="col-lg-4">
                            <div class="rounded-10px padding30 h-100" data-bgcolor="rgba(32, 32, 32, .75)">
                                <h4 class="id-color-2">Initial Assessment</h4>
                                <p>The therapist and client start with an initial assessment session where they get to
                                    know each other. The therapist asks questions to understand the client's presenting
                                    concerns, personal history, current life circumstances, and goals for therapy. This
                                    helps in establishing a therapeutic alliance and creating a treatment plan tailored
                                    to the client's needs.</p>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="rounded-10px padding30 h-100" data-bgcolor="rgba(32, 32, 32, .75)">
                                <h4 class="id-color-2">Establishing Goals</h4>
                                <p>Based on the assessment, the therapist and client collaboratively set specific,
                                    measurable, achievable, relevant, and time-bound (SMART) goals for therapy. These
                                    goals serve as a roadmap for the therapeutic process and provide direction for the
                                    sessions.</p>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="rounded-10px padding30 h-100" data-bgcolor="rgba(32, 32, 32, .75)">
                                <h4 class="id-color-2">Exploration and Insight</h4>
                                <p>In subsequent sessions, the therapist creates a safe and supportive environment for
                                    the client to explore their thoughts, feelings, beliefs, and behaviors. Through
                                    reflective listening, empathy, and insightful questioning, the therapist helps the
                                    client gain a deeper understanding of themselves, their relationships, and their
                                    life experiences.</p>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="rounded-10px padding30 h-100" data-bgcolor="rgba(32, 32, 32, .75)">
                                <h4 class="id-color-2">Skill Building</h4>
                                <p>Therapy often involves teaching clients coping skills and strategies to deal with
                                    stress, anxiety, depression, anger, communication issues, or other mental health
                                    concerns. These skills may include relaxation techniques, assertiveness training,
                                    problem-solving skills, mindfulness practices, and boundary-setting exercises.</p>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="rounded-10px padding30 h-100" data-bgcolor="rgba(32, 32, 32, .75)">
                                <h4 class="id-color-2">Building Self Confidence</h4>
                                <p>Therapists help clients cultivate self-awareness, self-compassion, and
                                    self-acceptance. Through validation, positive reinforcement, and encouragement,
                                    clients learn to challenge negative self-perceptions, build self-esteem, and develop
                                    a greater sense of confidence and self-worth.</p>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="rounded-10px padding30 h-100" data-bgcolor="rgba(32, 32, 32, .75)">
                                <h4 class="id-color-2">Monitoring Progress</h4>
                                <p>Throughout the therapy process, the therapist and client regularly review progress
                                    towards the established goals. Adjustments to the treatment plan may be made based
                                    on the client's evolving needs and progress.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <div class="subtitle wow fadeInUp mb-3">Do you have</div>
                            <h2 class="wow fadeInUp" data-wow-delay=".2s">Any Questions</h2>
                        </div>
                    </div>

                    <div class="row g-4 align-items-center">

                        <div class="col-lg-12">
                            <div class="accordion s2 wow fadeInUp">
                                <div class="accordion-section">
                                    <div class="accordion-section-title" data-tab="#accordion-a1">
                                        What kind of therapy services do you offer?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-a1">
                                        <p>We provide a range of therapy services, including individual, couples, and
                                            group therapy sessions tailored to your needs.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-a2">
                                        Do you offer online therapy options?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-a2">
                                        <p>Yes, we offer virtual therapy sessions for your convenience and comfort,
                                            ensuring you can access support from anywhere.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-a3">
                                        How can I schedule an appointment?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-a3">
                                        <p>You can easily schedule an appointment by contacting our office via phone or
                                            email, or by filling out our online appointment request form.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-a4">
                                        Are your services covered by insurance?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-a4">
                                        <p>We accept a variety of insurance plans, and our team can help you navigate
                                            the process to ensure you receive the coverage you are entitled to.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-a5">
                                        Do you offer specialized therapy for specific issues?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-a5">
                                        <p>Our psychologists have expertise in various areas, such as anxiety,
                                            depression, trauma, and more, offering specialized therapy tailored to your
                                            unique needs.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-a6">
                                        Can I choose my therapist?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-a6">
                                        <p>We strive to match you with a therapist who best fits your preferences and
                                            needs, ensuring a strong therapeutic alliance for effective treatment.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-color no-top no-bottom">
                <div class="container-fluid">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-4 col-md-4">
                            <div class="relative p-4 text-light">
                                <i class="d-block fs-40 mb-2 icofont-clock-time"></i>
                                Mon - Sat: 8AM - 9PM<br>
                                Sunday: 10AM - 8PM<br>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="relative p-4 bg-color-2 text-light">
                                <i class="d-block fs-40 mb-2 icofont-location-pin"></i>
                                Delhi
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="relative p-4 bg-color-3 text-dark">
                                <i class="d-block fs-40 mb-2 icofont-phone"></i>
                                +929 333 9296<br>
                                contact@satvamanas.com
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <%- include('./footer') %>

        </body>

</html>