
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">Follow Artists</h5>
                    <p class="card-subtitle">Tips for Following Local Artists</p>
                    <div class="overflow-auto mt-4" data-simplebar>
                        <div class="hstack gap-9">
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-primary rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s1.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">Dualia</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-primary rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s2.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">John</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-primary rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s3.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">Smith</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-white rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s4.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">Sia</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-white rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s1.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">Adele</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-white rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s2.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">Dualia</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-white rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s3.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">Sia</span>
                            </a>
                            <a href="#" class="text-center flex-shrink-0">
                                <div class="border border-2 border-white rounded-circle hover-img">
                                    <img src="/Admin-asset/dist/images/music/s4.jpg" class="rounded-circle img-fluid m-1" alt="art"
                                        width="55" />
                                </div>
                                <span class="d-block fs-3 mt-1  text-dark">John</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">Recently Played</h5>
                    <p class="card-subtitle">What's on My Playlist This Week?</p>
                    <div class="row mt-3">
                        <div class="col-md-4 col-sm-6">
                            <div class="card shadow-none border position-relative mb-md-0">
                                <div class="overflow-hidden rounded">
                                    <a href="javascript:void(0)">
                                        <img src="/Admin-asset/dist/images/music/album5.jpg" class="rounded hover-img card-img"
                                            alt="art" />
                                    </a>
                                </div>
                                <div class="p-2 d-flex">
                                    <div>
                                        <h6 class="mt-2 mb-0 fw-semibold">Naach Meri Rani</h6>
                                        <span class="fs-2 text-nowrap">Guru Randhawa</span>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0)"
                                            class="z-1 btn bg-white text-primary round-sm rounded-circle mt-n4 shadow-sm p-0 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-player-play text-primary fs-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="card shadow-none border position-relative mb-md-0">
                                <div class="overflow-hidden rounded">
                                    <a href="javascript:void(0)">
                                        <div class="hover-img">
                                            <img src="/Admin-asset/dist/images/music/album7.jpg" class="rounded hover-img card-img"
                                                alt="art" />
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 d-flex">
                                    <div>
                                        <h6 class="mt-2 mb-0 fw-semibold">Party Anthems</h6>
                                        <span class="fs-2 text-nowrap">Arijit Singh</span>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0)"
                                            class="z-1 btn bg-white text-primary round-sm rounded-circle mt-n4 shadow-sm p-0 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-player-play text-primary fs-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="card border shadow-none position-relative mb-0">
                                <div class="overflow-hidden rounded">
                                    <a href="javascript:void(0)">
                                        <div class="hover-img">
                                            <img src="/Admin-asset/dist/images/music/album8.jpg" class="rounded hover-img card-img"
                                                alt="art" />
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 d-flex">
                                    <div>
                                        <h6 class="mt-2 mb-0 fw-semibold text-truncate">Badshah Party</h6>
                                        <span class="fs-2 text-nowrap">Badshah</span>
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:void(0)"
                                            class="z-1 btn bg-white text-primary round-sm rounded-circle mt-n4 shadow-sm p-0 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-player-play text-primary fs-4"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-0">
                        <div class="card-body p-4">
                            <h5 class="card-title">My Friends</h5>
                            <p class="card-subtitle">The Power of Friendship</p>
                            <div class="row gx-3 mt-4">
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/profile/user-1.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/profile/user-2.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/profile/user-3.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/profile/user-4.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <h5 class="card-title">Favourite Artists</h5>
                            <p class="card-subtitle">The Iconic Music of Prince</p>
                            <div class="row gx-3 mt-4">
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/music/s1.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/music/s2.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/music/s3.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                                <div class="col-3">
                                    <img src="/Admin-asset/dist/images/music/s4.jpg" class="rounded img-fluid" alt="art" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- music sidebar -->
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">Recent Search</h5>
                    <p class="card-subtitle">What's Next in the World of Search?</p>
                    <div class="hstack my-4 gap-3">
                        <a role="alert"
                            class="alert mb-0 py-2 badge bg-light-primary text-primary s rounded-pill d-flex align-items-center justify-content-between gap-2">Shiela
                            On7 <span data-bs-dismiss="alert">
                                <i class="ti ti-square-x fs-4"></i>
                            </span>
                        </a>
                        <a role="alert"
                            class="alert mb-0 py-2 badge bg-light-danger text-danger s rounded-pill d-flex align-items-center justify-content-between gap-2">Denny
                            Caknan <span data-bs-dismiss="alert">
                                <i class="ti ti-square-x fs-4"></i>
                            </span>
                        </a>
                    </div>
                    <div class="card bg-light-primary shadow-none mb-0">
                        <div class="card-body px-3 py-4">
                            <div class="text-center">
                                <div class="mplayer">
                                    <div id="jp_container_N" class="jp-video-270p jp-state-no-volume">
                                        <div class="jp-type-playlist">
                                            <div id="jplayer_N" class="jp-jplayer hide"></div>
                                            <div class="jp-gui">
                                                <div class="jp-interface">
                                                    <img src="/Admin-asset/dist/images/music/album3.jpg" class="rounded poster"
                                                        alt="album" width="100" />
                                                    <h5 class="mt-3 mb-0 jp-title fw-semibold fs-5"></h5>
                                                    <span class="opacity-75 fs-3 jp-artist"></span>
                                                    <div class="jp-controls">
                                                        <div>
                                                            <a class="jp-repeat btn border-0 round-sm opacity-75 rounded-circle"
                                                                title="repeat">
                                                                <i class="ti ti-repeat fs-4"></i>
                                                            </a>
                                                            <a class="jp-repeat-off hide btn border-0 round-sm rounded-circle"
                                                                title="repeat off">
                                                                <i class="ti ti-repeat fs-4 text-primary"></i>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a
                                                                class="jp-previous btn border-0 round-sm opacity-75 rounded-circle">
                                                                <i class="ti ti-chevrons-left fs-4"></i>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a
                                                                class="jp-play btn border-0 bg-white text-primary round-sm rounded-circle">
                                                                <i class="ti ti-player-play fs-4"></i>
                                                            </a>
                                                            <a
                                                                class="jp-pause btn border-0 bg-white text-primary round-sm rounded-circle">
                                                                <i class="ti ti-player-pause"></i>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a
                                                                class="jp-next btn border-0 round-sm opacity-75 rounded-circle">
                                                                <i class="ti ti-chevrons-right fs-4"></i>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a class="jp-shuffle btn border-0 round-sm opacity-75 rounded-circle"
                                                                title="shuffle">
                                                                <i class="ti ti-arrows-shuffle-2 fs-4"></i>
                                                            </a>
                                                            <a class="jp-shuffle-off hide btn border-0 round-sm rounded-circle"
                                                                title="shuffle off">
                                                                <i class="ti ti-arrows-shuffle-2 fs-4 text-primary"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="jp-progress hidden-xs">
                                                        <div class="jp-seek-bar" style="width: 100%">
                                                            <div class="jp-play-bar play-progress" style="width: 0%">
                                                            </div>
                                                            <div class="jp-current-time current-time"></div>
                                                            <div class="jp-duration duration"></div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="jp-mute" title="mute">
                                                            <i class="ti ti-volume-3 text-muted fs-4"></i>
                                                        </a>
                                                        <a class="jp-unmute" title="unmute">
                                                            <i class="ti ti-volume fs-4 text-primary"></i>
                                                        </a>
                                                    </div>
                                                    <div class="jp-volume jp-music-volume">
                                                        <div class="jp-volume-bar">
                                                            <div class="jp-volume-bar-value"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-playlist dropup" id="playlist">
                                            <ul class="dropdown-menu bg-inverse m-b-0">
                                                <li class="list-group-item"></li>
                                            </ul>
                                        </div>
                                        <div class="jp-no-solution hide">
                                            <span>Update Required</span> To play the media you will need to either
                                            update your browser to a recent version or update your <a
                                                href="http://get.adobe.com/flashplayer/" target="_blank">Flash
                                                plugin</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-3 p-3 bg-hover-light-black rounded border-bottom">
                                <div class="position-relative d-flex align-items-center">
                                    <a href="javascript:void(0)" class="stretched-link"></a>
                                    <img src="dist/images/music/album1.jpg" width="45" class="rounded" alt="album" />
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-semibold">Viva Las</h6>
                                        <span class="fs-2">Viva Las</span>
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" id="m1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-4"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="m1">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-share text-muted me-1 fs-4"></i>Share </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-download text-muted me-1 fs-4"></i>Download </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-info-circle text-muted me-1 fs-4"></i>Get Song Info
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-hover-light-black rounded p-3 border-bottom">
                                <div class="position-relative d-flex align-items-center">
                                    <a href="javascript:void(0)" class="stretched-link"></a>
                                    <img src="/Admin-asset/dist/images/music/album2.jpg" width="45" alt="album" class="rounded" />
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-semibold">As It Was</h6>
                                        <span class="fs-2">As It Was</span>
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" id="m2" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-4"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="m2">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-share text-muted me-1 fs-4"></i>Share </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-download text-muted me-1 fs-4"></i>Download </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-info-circle text-muted me-1 fs-4"></i>Get Song Info
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3 bg-hover-light-black rounded">
                                <div class="position-relative d-flex align-items-center">
                                    <a href="javascript:void(0)" class="stretched-link"></a>
                                    <img src="/Admin-asset/dist/images/music/album4.jpg" width="45" alt="album" class="rounded" />
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-semibold text-truncate w-75">RedTape Anthem</h6>
                                        <span class="fs-2">RedTape Anthem</span>
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" id="m3" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-4"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="m3">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-share text-muted me-1 fs-4"></i>Share </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-download text-muted me-1 fs-4"></i>Download </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-info-circle text-muted me-1 fs-4"></i>Get Song Info
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3 bg-hover-light-black rounded border-bottom">
                                <div class="position-relative d-flex align-items-center">
                                    <a href="javascript:void(0)" class="stretched-link"></a>
                                    <img src="/Admin-asset/dist/images/music/album1.jpg" width="45" class="rounded" alt="album" />
                                    <div class="ms-3">
                                        <h6 class="mb-0 fw-semibold">Viva Las</h6>
                                        <span class="fs-2">Viva Las</span>
                                    </div>
                                </div>
                                <div class="ms-auto">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" id="m1" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="ti ti-dots-vertical fs-4"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="m1">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-share text-muted me-1 fs-4"></i>Share </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-download text-muted me-1 fs-4"></i>Download </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-info-circle text-muted me-1 fs-4"></i>Get Song Info
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="card-title fw-semibold">Top 10 from this week</h5>
                            <p class="card-subtitle">Based on your preferences</p>
                        </div>
                        <div class="ms-auto">
                            <div class="dropdown">
                                <a href="javascript:void(0)" id="t1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-dots-vertical fs-4"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="t1">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="ti ti-share text-muted me-1 fs-4"></i>Share </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="ti ti-download text-muted me-1 fs-4"></i>Download </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="ti ti-info-circle text-muted me-1 fs-4"></i>Get Song Info </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 overflow-auto gap-4" style="height: 450px" data-simplebar>
                        <a href="javascript:void(0)" class="mb-4 d-block">
                            <img src="/Admin-asset/dist/images/music/top10-1.jpg" class="img-fluid rounded" alt="album" />
                        </a>
                        <a href="javascript:void(0)" class="mb-4 d-block">
                            <img src="/Admin-asset/dist/images/music/top10-2.jpg" class="img-fluid rounded" alt="album" />
                        </a>
                        <a href="javascript:void(0)" class="d-block">
                            <img src="/Admin-asset/dist/images/music/top10-3.jpg" class="img-fluid rounded" alt="album" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="card-title fw-semibold">Top Playlist</h5>
                            <p class="card-subtitle">Based on your choic</p>
                        </div>
                        <div class="ms-auto">
                            <div class="dropdown">
                                <a href="javascript:void(0)" id="t2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-dots-vertical fs-4"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="t2">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="ti ti-share text-muted me-1 fs-4"></i>Share </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="ti ti-download text-muted me-1 fs-4"></i>Download </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-auto card mt-4 mb-0 shadow-none border" style="height: 450px" data-simplebar>
                        <div class="hstack p-3 bg-hover-light-black position-relative border-bottom">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album1.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">N95</h6>
                                <span class="fs-3">Kendrick Lamar</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-primary fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hstack p-3 bg-hover-light-black position-relative border-bottom">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album2.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">Women</h6>
                                <span class="fs-3">Doja Cat</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-primary fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hstack p-3 bg-hover-light-black position-relative border-bottom">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album3.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">Wait For U</h6>
                                <span class="fs-3">Future, Tems</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-muted fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hstack p-3 bg-hover-light-black position-relative border-bottom">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album4.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">Blinding Lights</h6>
                                <span class="fs-3">The Weekend</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-muted fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hstack p-3 bg-hover-light-black position-relative border-bottom">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album5.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">Cooped Up</h6>
                                <span class="fs-3">Roddy Ricch</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-primary fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hstack p-3 bg-hover-light-black position-relative border-bottom">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album6.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">N95</h6>
                                <span class="fs-3">Roddy Ricch</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-primary fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="hstack p-3 bg-hover-light-black position-relative">
                            <a href="javascript:void(0)" class="stretched-link"></a>
                            <a href="javascript:void(0)">
                                <i class="ti ti-player-play fs-5"></i>
                            </a>
                            <img src="/Admin-asset/dist/images/music/album7.jpg" alt="top-1" width="40" class="rounded ms-3" />
                            <div class="ms-3">
                                <h6 class="mb-0">Party Anthem</h6>
                                <span class="fs-3">Arijit Singh</span>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)">
                                    <i class="ti ti-heart text-primary fs-5"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold">Most Popular this week</h5>
                    <p class="card-subtitle">Based on your preferences</p>
                    <div class="mt-4 card p-3 rounded shadow-none border">
                        <div class="d-flex align-items-center">
                            <div class="position-relative">
                                <img src="/Admin-asset/dist/images/music/album1.jpg" class="rounded" alt="album" width="97" />
                                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                    <button class="btn btn-primary rounded-circle round p-0">
                                        <i class="ti ti-player-play fs-5"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fs-5">Trending Songs</h6>
                                <span class="d-block fs-3 my-1">Top trending hits, refres..</span>
                                <small>Created by Gaana</small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 card p-3 rounded shadow-none border">
                        <div class="d-flex align-items-center">
                            <div class="position-relative">
                                <img src="/Admin-asset/dist/images/music/album2.jpg" class="rounded" alt="album" width="97" />
                                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                    <button class="btn btn-primary rounded-circle round p-0">
                                        <i class="ti ti-player-play fs-5"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fs-5">Trending Songs</h6>
                                <span class="d-block fs-3 my-1">Top trending hits, refres..</span>
                                <small>Created by Gaana</small>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 card mb-0 p-3 rounded shadow-none border">
                        <div class="d-flex align-items-center">
                            <div class="position-relative">
                                <img src="/Admin-asset/dist/images/music/album4.jpg" class="rounded" alt="album" width="97" />
                                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                                    <button class="btn btn-primary rounded-circle round p-0">
                                        <i class="ti ti-player-play fs-5"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ms-3">
                                <h6 class="mb-0 fs-5">Trending Songs</h6>
                                <span class="d-block fs-3 my-1">Top trending hits, refres..</span>
                                <small>Created by Gaana</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-fluid over -->
</div>
</div>
<!--  Shopping Cart -->
<div class="offcanvas offcanvas-end shopping-cart" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header py-4">
        <h5 class="offcanvas-title fs-5 fw-semibold" id="offcanvasRightLabel">Shopping Cart</h5>
        <span class="badge bg-primary rounded-4 px-3 py-1 lh-sm">5 new</span>
    </div>
    <div class="offcanvas-body h-100 px-4 pt-0" data-simplebar>
        <ul class="mb-0">
            <li class="pb-7">
                <div class="d-flex align-items-center">
                    <img src="/Admin-asset/dist/images/products/product-1.jpg" width="95" height="75"
                        class="rounded-1 me-9 flex-shrink-0" alt="" />
                    <div>
                        <h6 class="mb-1">Supreme toys cooker</h6>
                        <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                            <div class="input-group input-group-sm w-50">
                                <button class="btn border-0 round-20 minus p-0 bg-light-success text-success "
                                    type="button" id="add1"> - </button>
                                <input type="text"
                                    class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty"
                                    placeholder="" aria-label="Example text with button addon" aria-describedby="add1"
                                    value="1" />
                                <button class="btn text-success bg-light-success  p-0 round-20 border-0 add"
                                    type="button" id="addo2"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pb-7">
                <div class="d-flex align-items-center">
                    <img src="/Admin-asset/dist/images/products/product-2.jpg" width="95" height="75"
                        class="rounded-1 me-9 flex-shrink-0" alt="" />
                    <div>
                        <h6 class="mb-1">Supreme toys cooker</h6>
                        <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                            <div class="input-group input-group-sm w-50">
                                <button class="btn border-0 round-20 minus p-0 bg-light-success text-success "
                                    type="button" id="add2"> - </button>
                                <input type="text"
                                    class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty"
                                    placeholder="" aria-label="Example text with button addon" aria-describedby="add2"
                                    value="1" />
                                <button class="btn text-success bg-light-success  p-0 round-20 border-0 add"
                                    type="button" id="addon34"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pb-7">
                <div class="d-flex align-items-center">
                    <img src="/Admin-asset/dist/images/products/product-3.jpg" width="95" height="75"
                        class="rounded-1 me-9 flex-shrink-0" alt="" />
                    <div>
                        <h6 class="mb-1">Supreme toys cooker</h6>
                        <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                            <div class="input-group input-group-sm w-50">
                                <button class="btn border-0 round-20 minus p-0 bg-light-success text-success "
                                    type="button" id="add3"> - </button>
                                <input type="text"
                                    class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty"
                                    placeholder="" aria-label="Example text with button addon" aria-describedby="add3"
                                    value="1" />
                                <button class="btn text-success bg-light-success  p-0 round-20 border-0 add"
                                    type="button" id="addon3"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="align-bottom">
            <div class="d-flex align-items-center pb-7">
                <span class="text-dark fs-3">Sub Total</span>
                <div class="ms-auto">
                    <span class="text-dark fw-semibold fs-3">$2530</span>
                </div>
            </div>
            <div class="d-flex align-items-center pb-7">
                <span class="text-dark fs-3">Total</span>
                <div class="ms-auto">
                    <span class="text-dark fw-semibold fs-3">$6830</span>
                </div>
            </div>
            <a href="eco-checkout" class="btn btn-outline-primary w-100">Go to shopping cart</a>
        </div>
    </div>
</div>
<!--  Mobilenavbar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <nav class="sidebar-nav scroll-sidebar">
        <div class="offcanvas-header justify-content-between">
            <img src="/Admin-asset/dist/images/logos/favicon.png" alt="" class="img-fluid">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-dropdown mobile-navbar" data-simplebar="" data-simplebar>
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <span>
                            <i class="ti ti-apps"></i>
                        </span>
                        <span class="hide-menu">Apps</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level my-3">
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-chat.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Chat Application</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">New messages arrived</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-invoice.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Invoice App</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Get latest invoice</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-mobile.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Contact Application</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">2 Unsaved Contacts</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-message-box.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Email App</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Get new emails</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-cart.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">User Profile</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">learn more information</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-date.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Calendar App</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Get dates</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-lifebuoy.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Contact List Table</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Add new contact</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-application.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Notes Application</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">To-do and Daily tasks</span>
                                </div>
                            </a>
                        </li>
                        <ul class="px-8 mt-7 mb-4">
                            <li class="sidebar-item mb-3">
                                <h5 class="fs-5 fw-semibold">Quick Links</h5>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Pricing Page</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Authentication Design</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Register Now</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">404 Error Page</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Notes App</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">User Application</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Account Settings</a>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-chat" aria-expanded="false">
                        <span>
                            <i class="ti ti-message-dots"></i>
                        </span>
                        <span class="hide-menu">Chat</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-calendar" aria-expanded="false">
                        <span>
                            <i class="ti ti-calendar"></i>
                        </span>
                        <span class="hide-menu">Calendar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-email" aria-expanded="false">
                        <span>
                            <i class="ti ti-mail"></i>
                        </span>
                        <span class="hide-menu">Email</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Search Bar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-1">
            <div class="modal-header border-bottom">
                <input type="search" class="form-control fs-3" placeholder="Search here" id="search" />
                <span data-bs-dismiss="modal" class="lh-1 cursor-pointer">
                    <i class="ti ti-x fs-5 ms-3"></i>
                </span>
            </div>
            <div class="modal-body message-body" data-simplebar="">
                <h5 class="mb-0 fs-5 p-1">Quick Page Links</h5>
                <ul class="list mb-0 py-2">
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Modern</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                            <span class="fs-3 text-muted d-block">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Posts</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Detail</span>
                            <span
                                class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Shop</span>
                            <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Modern</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                            <span class="fs-3 text-muted d-block">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Posts</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Detail</span>
                            <span
                                class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Shop</span>
                            <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Customizer -->
<button class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn"
    type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="ti ti-settings fs-7" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"></i>
</button>
<div class="offcanvas offcanvas-end customizer" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel" data-simplebar="">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
        <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">Settings</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
        <div class="theme-option pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Theme Option</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)" onclick="toggleTheme('/Admin-asset/dist/css/style.min.css')"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 light-theme text-dark">
                    <i class="ti ti-brightness-up fs-7 text-primary"></i>
                    <span class="text-dark">Light</span>
                </a>
                <a href="javascript:void(0)" onclick="toggleTheme('/Admin-asset/dist/css/style-dark.min.css')"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 dark-theme text-dark">
                    <i class="ti ti-moon fs-7 "></i>
                    <span class="text-dark">Dark</span>
                </a>
            </div>
        </div>
        <div class="theme-direction pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Theme Direction</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="index" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-text-direction-ltr fs-6 text-primary"></i>
                    <span class="text-dark">LTR</span>
                </a>
                <a href="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/html/rtl/index"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-text-direction-rtl fs-6 text-dark"></i>
                    <span class="text-dark">RTL</span>
                </a>
            </div>
        </div>
        <div class="theme-colors pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Theme Colors</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <ul class="list-unstyled mb-0 d-flex gap-3 flex-wrap change-colors">
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin1-bluetheme-primary active-theme "
                            onclick="toggleTheme('/Admin-asset/dist/css/style.min.css')" data-color="blue_theme"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME"><i
                                class="ti ti-check text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin2-aquatheme-primary "
                            onclick="toggleTheme('/Admin-asset/dist/css/style-aqua.min.css')" data-color="aqua_theme"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin3-purpletheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-purple.min.css')" data-color="purple_theme"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin4-greentheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-green.min.css')" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="GREEN_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin5-cyantheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-cyan.min.css')" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="CYAN_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin6-orangetheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-orange.min.css')" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="ORANGE_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layout-type pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Layout Type</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="index" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-layout-sidebar fs-6 text-primary"></i>
                    <span class="text-dark">Vertical</span>
                </a>
                <a href="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/html/horizontal/index"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-layout-navbar fs-6 text-dark"></i>
                    <span class="text-dark">Horizontal</span>
                </a>
            </div>
        </div>
        <div class="container-option pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Container Option</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 boxed-width text-dark">
                    <i class="ti ti-layout-distribute-vertical fs-7 text-primary"></i>
                    <span class="text-dark">Boxed</span>
                </a>
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 full-width text-dark">
                    <i class="ti ti-layout-distribute-horizontal fs-7"></i>
                    <span class="text-dark">Full</span>
                </a>
            </div>
        </div>
        <div class="sidebar-type pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Sidebar Type</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 fullsidebar">
                    <i class="ti ti-layout-sidebar-right fs-7"></i>
                    <span class="text-dark">Full</span>
                </a>
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center text-dark sidebartoggler gap-2">
                    <i class="ti ti-layout-sidebar fs-7"></i>
                    <span class="text-dark">Collapse</span>
                </a>
            </div>
        </div>
        <div class="card-with pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Card With</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 text-dark cardborder">
                    <i class="ti ti-border-outer fs-7"></i>
                    <span class="text-dark">Border</span>
                </a>
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 cardshadow">
                    <i class="ti ti-border-none fs-7"></i>
                    <span class="text-dark">Shadow</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Customizer -->