
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 d-flex align-items-strech">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold">Top Collectibles</h5>
                    <p class="card-subtitle mb-0">The Beginner's Guide to Collectible Items</p>
                    <div class="owl-carousel collectibles-carousel owl-theme mt-9">
                        <div class="item">
                            <div class="card overflow-hidden mb-4 mb-md-0 shadow-none border">
                                <div class="position-relative">
                                    <img src="/Admin-asset/dist/images/nft/1.jpg" class="img-fluid w-100" alt="1" />
                                    <div class="card-img-overlay">
                                        <div class="text-end">
                                            <span class="badge bg-light-dark rounded-pill fs-2">04h 09m 12s</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-9 text-start">
                                    <h6 class="fw-semibold fs-4">Geo Runners</h6>
                                    <div class="d-flex align-items-center mt-3 justify-content-between">
                                        <div class="fs-3">Volume</div>
                                        <h6 class="mb-0">
                                            <i class="cc ETH" title="ETH"></i>
                                            <span class="text-dark fw-bold">10.1</span> ETH
                                        </h6>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-primary w-100 mt-3">Place a Bid</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card overflow-hidden mb-4 mb-md-0 shadow-none border">
                                <div class="position-relative">
                                    <img src="/Admin-asset/dist/images/nft/5.jpg" class="img-fluid w-100" alt="1" />
                                    <div class="card-img-overlay">
                                        <div class="text-end">
                                            <span class="badge bg-light-dark rounded-pill fs-2">02h 10m 30s</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-9 text-start">
                                    <h6 class="fw-semibold fs-4">Cube Runner</h6>
                                    <div class="d-flex align-items-center mt-3 justify-content-between">
                                        <div class="fs-3">Volume</div>
                                        <h6 class="mb-0">
                                            <i class="cc ETH" title="ETH"></i>
                                            <span class="text-dark fw-bold">10.1</span> ETH
                                        </h6>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-primary w-100 mt-3">Place a Bid</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card overflow-hidden mb-4 mb-md-0 shadow-none border">
                                <div class="position-relative">
                                    <img src="/Admin-asset/dist/images/nft/3.jpg" class="img-fluid w-100" alt="1" />
                                    <div class="card-img-overlay">
                                        <div class="text-end">
                                            <span class="badge bg-light-dark rounded-pill fs-2">01h 02m 10s</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-9 text-start">
                                    <h6 class="ffw-semibold fs-4">Algo cube</h6>
                                    <div class="d-flex align-items-center mt-3 justify-content-between">
                                        <div class="fs-3">Volume</div>
                                        <h6 class="mb-0">
                                            <i class="cc ETH" title="ETH"></i>
                                            <span class="text-dark fw-bold">10.1</span> ETH
                                        </h6>
                                    </div>
                                    <a href="javascript:void(0)" class="btn btn-primary w-100 mt-3">Place a Bid</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 d-flex align-items-strech">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold">My Wallets</h5>
                    <p class="card-subtitle mb-0">Smart Wallets for the Digital Age</p>
                    <div class="card overflow-hidden mt-9">
                        <img src="/Admin-asset/dist/images/backgrounds/my-card.jpg" alt="bg-card" height="220">
                        <div class="card-img-overlay text-white">
                            <div class="d-flex align-items-start flex-column h-100">
                                <div>
                                    <img src="/Admin-asset/dist/images/nft/mastercard.png" width="40" alt="mastercard" />
                                    <span class="opacity-75 fs-2 d-block mt-3">CARD NUMBER</span>
                                    <h4 class="text-white fw-normal">2500 1520 2315 4500</h4>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-auto w-100">
                                    <div>
                                        <span class="opacity-75 fs-2 text-uppercase">Card Holder Name</span>
                                        <h6 class="text-white mb-0">HR John</h6>
                                    </div>
                                    <div>
                                        <span class="opacity-75 fs-2 text-uppercase">Expires On</span>
                                        <h6 class="text-white mb-0">09/25</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none mb-0">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center mb-3">
                                <h2 class="fw-semibold mb-0">$1,206.89</h2>
                                <div class="ms-auto">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" id="balance-dd" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="ti ti-dots fs-4"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="balance-dd">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-share me-1 fs-4"></i>Share </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-download me-1 fs-4"></i>Download </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <i class="ti ti-info-circle me-1 fs-4"></i>Get Info </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ms-1">
                                    <i class="ti ti-arrow-up-left text-success"></i>
                                </span>
                                <span class="text-dark fs-3 fw-bold ms-1">USD 420,000</span>
                                <span class="text-success fw-bold fs-3 ms-2">(59,11%)</span>
                            </div>
                            <button class="btn btn-light-primary text-primary w-100 mt-3"> View Balance </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 d-flex align-items-strech">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title fw-semibold">Top NFT</h5>
                            <p class="card-subtitle mb-0">How to Buy and Sell NFTs</p>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-light" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="flag-icon flag-icon-us me-1" title="us"></i> USD <i
                                    class="ti ti-chevron-down ms-1"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-us me-1" title="us"></i> USD </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-in me-1" title="in" id="in"></i> INR </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-fr me-1" title="fr" id="fr"></i> FRF </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mt-4 mb-0 shadow-none">
                        <div class="table-responsive">
                            <table class="table mb-0 align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="ps-0">Collection</th>
                                        <th>Volume</th>
                                        <th>24h</th>
                                        <th>Floor Price</th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark ">
                                    <tr>
                                        <td class="ps-0">
                                            <div class="d-flex align-items-center gap-3 fw-semibold">
                                                <img src="/Admin-asset/dist/images/profile/user-1.jpg" class="rounded-circle"
                                                    alt="user" width="45" /> Alan Walker Origins
                                            </div>
                                        </td>
                                        <td>
                                            <i class="cc ETH" title="ETH"></i> 18,670.21
                                        </td>
                                        <td class="text-danger">-20.38%</td>
                                        <td>$6.8k</td>
                                    </tr>
                                    <tr>
                                        <td class="ps-0">
                                            <div class="d-flex align-items-center gap-3 fw-semibold">
                                                <img src="/Admin-asset/dist/images/profile/user-2.jpg" class="rounded-circle"
                                                    alt="user" width="45" /> The StarSharks NFTs
                                            </div>
                                        </td>
                                        <td>
                                            <i class="cc ETH" title="ETH"></i> 15,880.20
                                        </td>
                                        <td class="text-success">+15.14%</td>
                                        <td>$5.8k</td>
                                    </tr>
                                    <tr>
                                        <td class="ps-0">
                                            <div class="d-flex align-items-center gap-3 fw-semibold">
                                                <img src="/Admin-asset/dist/images/profile/user-3.jpg" class="rounded-circle"
                                                    alt="user" width="45" /> Sacred Realm
                                            </div>
                                        </td>
                                        <td>
                                            <i class="cc ETH" title="ETH"></i> 14,920.20
                                        </td>
                                        <td class="text-danger">-10.25%</td>
                                        <td>$5.2k</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 d-flex align-items-strech">
            <div class="card w-100">
                <img src="/Admin-asset/dist/images/nft/nft-bg.jpg" class="card-img" alt="nft" />
                <div class="p-4 mt-n4 text-center">
                    <div class="position-relative mt-n4">
                        <img src="/Admin-asset/dist/images/profile/user-5.jpg" alt="nft"
                            class="rounded-circle border border-3 border-white" width="50" />
                    </div>
                    <div>
                        <h6 class="mb-0 fw-semibold mt-2">The Cat X Takaish</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-2 pb-3 border-bottom">
                        <div class="text-start">
                            <span class="fs-3">Volume</span>
                            <h6 class="mb-0 fw-semibold">90,015.90 USD</h6>
                        </div>
                        <div class="text-end">
                            <span class="fs-3">Floor Price</span>
                            <h6 class="mb-0 fw-semibold">40.00 USD</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3 pt-3">
                        <div class="round bg-light d-flex align-items-center justify-content-center rounded-circle">
                            <i class="cc ETH fs-6"></i>
                        </div>
                        <div>
                            <h6 class="mb-0 fw-semibold">1.23 ETH</h6>
                            <span class="fs-2">$12,000</span>
                        </div>
                        <div class="ms-auto text-end">
                            <span class="text-danger">-6.8%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 d-flex align-items-strech">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title fw-semibold">Recent Transactions</h5>
                            <p class="card-subtitle mb-0">Examining the Risks of Recent Transactions</p>
                        </div>
                        <a href="javascript:void(0)"
                            class="text-dark fs-6 position-relative nav-icon-hover z-index-5"><i
                                class="ti ti-dots-vertical"></i></a>
                    </div>
                    <div class="card shadow-none mb-0 mt-3">
                        <div class="d-flex align-items-center gap-3 py-3 border-bottom">
                            <div class="round bg-light d-flex align-items-center justify-content-center rounded-circle">
                                <i class="cc ETH fs-6"></i>
                            </div>
                            <div>
                                <h6 class="mb-0 fw-semibold">1.23 ETH</h6>
                                <span class="fs-2">$12,000</span>
                            </div>
                            <div class="ms-auto text-end">
                                <span class="text-danger">-6.8%</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3 py-3 border-bottom">
                            <div class="round bg-light d-flex align-items-center justify-content-center rounded-circle">
                                <i class="cc BTC fs-6"></i>
                            </div>
                            <div>
                                <h6 class="mb-0 fw-semibold">5.23 BTC</h6>
                                <span class="fs-2">$5,000</span>
                            </div>
                            <div class="ms-auto text-end">
                                <span class="text-success">+2.30%</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3 py-3">
                            <div class="round bg-light d-flex align-items-center justify-content-center rounded-circle">
                                <i class="cc XRP fs-6"></i>
                            </div>
                            <div>
                                <h6 class="mb-0 fw-semibold">9.20 XRP</h6>
                                <span class="fs-2">$6,200</span>
                            </div>
                            <div class="ms-auto text-end">
                                <span class="text-danger">-1.0%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-strech">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title fw-semibold">Trending Creator</h5>
                            <p class="card-subtitle mb-0">The Benefits of Being a Trending Creator</p>
                        </div>
                        <a href="javascript:void(0)"
                            class="text-dark fs-6 position-relative nav-icon-hover z-index-5"><i
                                class="ti ti-dots-vertical"></i></a>
                    </div>
                    <div class="card shadow-none mt-3 mb-0">
                        <div class="d-flex align-items-center gap-3 py-3 border-bottom">
                            <img src="/Admin-asset/dist/images/profile/user-5.jpg" class="rounded-circle" alt="user" width="40" />
                            <div>
                                <h6 class="mb-0 fw-semibold">Project Solona</h6>
                                <span class="fs-2">12.200 Items</span>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="mb-0 fw-semibold">$300,000+</h6>
                                <span class="fs-2">Total USD</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3 py-3 border-bottom">
                            <img src="/Admin-asset/dist/images/profile/user-3.jpg" class="rounded-circle" alt="user" width="40" />
                            <div>
                                <h6 class="mb-0 fw-semibold">The Aston Lix</h6>
                                <span class="fs-2">10.150 Items</span>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="mb-0 fw-semibold">$250,000+</h6>
                                <span class="fs-2">Total USD</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3 py-3">
                            <img src="/Admin-asset/dist/images/profile/user-4.jpg" class="rounded-circle" alt="user" width="40" />
                            <div>
                                <h6 class="mb-0 fw-semibold">Barly X Dipa</h6>
                                <span class="fs-2">10.100 Items</span>
                            </div>
                            <div class="ms-auto text-end">
                                <h6 class="mb-0 fw-semibold">$230,000+</h6>
                                <span class="fs-2">Total USD</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent history -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold">Recent History</h5>
                    <p class="card-subtitle mb-0">The Impact of 9/11 on the World</p>
                    <div class="card shadow-none mt-9 mb-0">
                        <div class="table-responsive">
                            <table class="table text-nowrap align-middle mb-0">
                                <thead>
                                    <tr>
                                        <th class="ps-0">Item</th>
                                        <th>Event</th>
                                        <th>From - To</th>
                                        <th>Amount</th>
                                        <th>Value</th>
                                        <th>Date</th>
                                        <th>Link</th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark ">
                                    <tr>
                                        <td class="ps-0">
                                            <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/nft/g1.webp"
                                                class="rounded img-fluid me-2" width="50" alt="user" />
                                            <span class="fw-semibold">Quantum Ape</span>
                                        </td>
                                        <td>
                                            <span class="badge bg-light-primary text-primary">Purchase</span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <img src="/Admin-asset/dist/images/profile/user-1.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">John</span>
                                                <span>
                                                    <i class="ti ti-arrow-right text-success fs-4"></i>
                                                </span>
                                                <img src="/Admin-asset/dist/images/profile/user-2.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">Deo</span>
                                            </div>
                                        </td>
                                        <td>4</td>
                                        <td>
                                            <i class="cc ETH" title="ETH"></i> 16 ETH
                                        </td>
                                        <td>13 July, 2023</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0)" id="nft2" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="ti ti-dots fs-4"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="nft2">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <i
                                                                class="ti ti-link me-1 fs-6"></i>https://www.abc.com/sfsdf767s
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ps-0">
                                            <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/nft/g2.webp"
                                                class="rounded img-fluid me-2" alt="n1" width="50" />
                                            <span class="fw-semibold">Bored Ape</span>
                                        </td>
                                        <td>
                                            <span class="badge bg-light-danger text-danger">Transfer</span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <img src="/Admin-asset/dist/images/profile/user-3.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">Liam</span>
                                                <span>
                                                    <i class="ti ti-arrow-left text-danger fs-4"></i>
                                                </span>
                                                <img src="/Admin-asset/dist/images/profile/user-4.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">Noah</span>
                                            </div>
                                        </td>
                                        <td>4</td>
                                        <td>
                                            <i class="cc ETH" title="ETH"></i> 8 ETH
                                        </td>
                                        <td>1 Aug, 2023</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0)" id="ns11" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="ti ti-dots fs-4"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <i
                                                                class="ti ti-link me-1 fs-6"></i>https://www.abc.com/sfsdf767s
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ps-0">
                                            <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/nft/g3.webp"
                                                class="rounded img-fluid me-2" alt="n2" width="50" />
                                            <span class="fw-semibold">Space Ape</span>
                                        </td>
                                        <td>
                                            <span class="badge bg-light-success text-success">List</span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <img src="/Admin-asset/dist/images/profile/user-4.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">Oliver</span>
                                                <span>
                                                    <i class="ti ti-arrow-left text-danger fs-4"></i>
                                                </span>
                                                <img src="/Admin-asset/dist/images/profile/user-1.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">Elijah</span>
                                            </div>
                                        </td>
                                        <td>4</td>
                                        <td>
                                            <i class="cc ETH" title="ETH"></i> 9 ETH
                                        </td>
                                        <td>12 Jan, 2023</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="javascript:void(0)" id="dd3" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="ti ti-dots fs-4"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="dd3">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <i
                                                                class="ti ti-link me-1 fs-6"></i>https://www.abc.com/sfsdf767s
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="border-0 ps-0">
                                            <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/nft/g4.webp"
                                                class="rounded img-fluid me-2" width="50" alt="n1" />
                                            <span class="fw-semibold">Fancy Bears</span>
                                        </td>
                                        <td class="border-0">
                                            <span class="badge bg-light-primary text-primary">Purchase</span>
                                        </td>
                                        <td class="border-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <img src="/Admin-asset/dist/images/profile/user-1.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">James</span>
                                                <span>
                                                    <i class="ti ti-arrow-right text-success fs-4"></i>
                                                </span>
                                                <img src="/Admin-asset/dist/images/profile/user-2.jpg" width="25" alt="user1"
                                                    class="rounded-circle" />
                                                <span class="fs-3">Lucas</span>
                                            </div>
                                        </td>
                                        <td class="border-0">4</td>
                                        <td class="border-0">
                                            <i class="cc ETH" title="ETH"></i> 10 ETH
                                        </td>
                                        <td class="border-0">1 Feb, 2023</td>
                                        <td class="border-0">
                                            <div class="dropdown">
                                                <a href="javascript:void(0)" id="nft3" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="ti ti-dots fs-4"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="nft3">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <i
                                                                class="ti ti-link me-1 fs-6"></i>https://www.abc.com/sfsdf767s
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container fluid -->
</div>
</div>
</div>
<!--  Shopping Cart -->
<div class="offcanvas offcanvas-end shopping-cart" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header py-4">
        <h5 class="offcanvas-title fs-5 fw-semibold" id="offcanvasRightLabel">Shopping Cart</h5>
        <span class="badge bg-primary rounded-4 px-3 py-1 lh-sm">5 new</span>
    </div>
    <div class="offcanvas-body h-100 px-4 pt-0" data-simplebar>
        <ul class="mb-0">
            <li class="pb-7">
                <div class="d-flex align-items-center">
                    <img src="/Admin-asset/dist/images/products/product-1.jpg" width="95" height="75"
                        class="rounded-1 me-9 flex-shrink-0" alt="" />
                    <div>
                        <h6 class="mb-1">Supreme toys cooker</h6>
                        <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                            <div class="input-group input-group-sm w-50">
                                <button class="btn border-0 round-20 minus p-0 bg-light-success text-success "
                                    type="button" id="add1"> - </button>
                                <input type="text"
                                    class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty"
                                    placeholder="" aria-label="Example text with button addon" aria-describedby="add1"
                                    value="1" />
                                <button class="btn text-success bg-light-success  p-0 round-20 border-0 add"
                                    type="button" id="addo2"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pb-7">
                <div class="d-flex align-items-center">
                    <img src="/Admin-asset/dist/images/products/product-2.jpg" width="95" height="75"
                        class="rounded-1 me-9 flex-shrink-0" alt="" />
                    <div>
                        <h6 class="mb-1">Supreme toys cooker</h6>
                        <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                            <div class="input-group input-group-sm w-50">
                                <button class="btn border-0 round-20 minus p-0 bg-light-success text-success "
                                    type="button" id="add2"> - </button>
                                <input type="text"
                                    class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty"
                                    placeholder="" aria-label="Example text with button addon" aria-describedby="add2"
                                    value="1" />
                                <button class="btn text-success bg-light-success  p-0 round-20 border-0 add"
                                    type="button" id="addon34"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pb-7">
                <div class="d-flex align-items-center">
                    <img src="/Admin-asset/dist/images/products/product-3.jpg" width="95" height="75"
                        class="rounded-1 me-9 flex-shrink-0" alt="" />
                    <div>
                        <h6 class="mb-1">Supreme toys cooker</h6>
                        <p class="mb-0 text-muted fs-2">Kitchenware Item</p>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <h6 class="fs-2 fw-semibold mb-0 text-muted">$250</h6>
                            <div class="input-group input-group-sm w-50">
                                <button class="btn border-0 round-20 minus p-0 bg-light-success text-success "
                                    type="button" id="add3"> - </button>
                                <input type="text"
                                    class="form-control round-20 bg-transparent text-muted fs-2 border-0  text-center qty"
                                    placeholder="" aria-label="Example text with button addon" aria-describedby="add3"
                                    value="1" />
                                <button class="btn text-success bg-light-success  p-0 round-20 border-0 add"
                                    type="button" id="addon3"> + </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="align-bottom">
            <div class="d-flex align-items-center pb-7">
                <span class="text-dark fs-3">Sub Total</span>
                <div class="ms-auto">
                    <span class="text-dark fw-semibold fs-3">$2530</span>
                </div>
            </div>
            <div class="d-flex align-items-center pb-7">
                <span class="text-dark fs-3">Total</span>
                <div class="ms-auto">
                    <span class="text-dark fw-semibold fs-3">$6830</span>
                </div>
            </div>
            <a href="eco-checkout" class="btn btn-outline-primary w-100">Go to shopping cart</a>
        </div>
    </div>
</div>
<!--  Mobilenavbar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <nav class="sidebar-nav scroll-sidebar">
        <div class="offcanvas-header justify-content-between">
            <img src="/Admin-asset/dist/images/logos/favicon.png" alt="" class="img-fluid">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-dropdown mobile-navbar" data-simplebar="" data-simplebar>
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <span>
                            <i class="ti ti-apps"></i>
                        </span>
                        <span class="hide-menu">Apps</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level my-3">
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-chat.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Chat Application</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">New messages arrived</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-invoice.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Invoice App</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Get latest invoice</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-mobile.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Contact Application</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">2 Unsaved Contacts</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-message-box.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Email App</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Get new emails</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-cart.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">User Profile</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">learn more information</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-date.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Calendar App</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Get dates</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-lifebuoy.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Contact List Table</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">Add new contact</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="#" class="d-flex align-items-center">
                                <div
                                    class="bg-light rounded-1 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/svgs/icon-dd-application.svg"
                                        alt="" class="img-fluid" width="24" height="24">
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-1 bg-hover-primary">Notes Application</h6>
                                    <span class="fs-2 d-block fw-normal text-muted">To-do and Daily tasks</span>
                                </div>
                            </a>
                        </li>
                        <ul class="px-8 mt-7 mb-4">
                            <li class="sidebar-item mb-3">
                                <h5 class="fs-5 fw-semibold">Quick Links</h5>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Pricing Page</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Authentication Design</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Register Now</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">404 Error Page</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Notes App</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">User Application</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fw-semibold text-dark" href="#">Account Settings</a>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-chat" aria-expanded="false">
                        <span>
                            <i class="ti ti-message-dots"></i>
                        </span>
                        <span class="hide-menu">Chat</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-calendar" aria-expanded="false">
                        <span>
                            <i class="ti ti-calendar"></i>
                        </span>
                        <span class="hide-menu">Calendar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="app-email" aria-expanded="false">
                        <span>
                            <i class="ti ti-mail"></i>
                        </span>
                        <span class="hide-menu">Email</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Search Bar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-1">
            <div class="modal-header border-bottom">
                <input type="search" class="form-control fs-3" placeholder="Search here" id="search" />
                <span data-bs-dismiss="modal" class="lh-1 cursor-pointer">
                    <i class="ti ti-x fs-5 ms-3"></i>
                </span>
            </div>
            <div class="modal-body message-body" data-simplebar="">
                <h5 class="mb-0 fs-5 p-1">Quick Page Links</h5>
                <ul class="list mb-0 py-2">
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Modern</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                            <span class="fs-3 text-muted d-block">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Posts</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Detail</span>
                            <span
                                class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Shop</span>
                            <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Modern</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Dashboard</span>
                            <span class="fs-3 text-muted d-block">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Contacts</span>
                            <span class="fs-3 text-muted d-block">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Posts</span>
                            <span class="fs-3 text-muted d-block">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Detail</span>
                            <span
                                class="fs-3 text-muted d-block">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="p-1 mb-1 bg-hover-light-black">
                        <a href="#">
                            <span class="fs-3 text-black fw-normal d-block">Shop</span>
                            <span class="fs-3 text-muted d-block">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Customizer -->
<button class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn"
    type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="ti ti-settings fs-7" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"></i>
</button>
<div class="offcanvas offcanvas-end customizer" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel" data-simplebar="">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
        <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">Settings</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
        <div class="theme-option pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Theme Option</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)" onclick="toggleTheme('/Admin-asset/dist/css/style.min.css')"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 light-theme text-dark">
                    <i class="ti ti-brightness-up fs-7 text-primary"></i>
                    <span class="text-dark">Light</span>
                </a>
                <a href="javascript:void(0)" onclick="toggleTheme('/Admin-asset/dist/css/style-dark.min.css')"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 dark-theme text-dark">
                    <i class="ti ti-moon fs-7 "></i>
                    <span class="text-dark">Dark</span>
                </a>
            </div>
        </div>
        <div class="theme-direction pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Theme Direction</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="index" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-text-direction-ltr fs-6 text-primary"></i>
                    <span class="text-dark">LTR</span>
                </a>
                <a href="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/html/rtl/index"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-text-direction-rtl fs-6 text-dark"></i>
                    <span class="text-dark">RTL</span>
                </a>
            </div>
        </div>
        <div class="theme-colors pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Theme Colors</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <ul class="list-unstyled mb-0 d-flex gap-3 flex-wrap change-colors">
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin1-bluetheme-primary active-theme "
                            onclick="toggleTheme('/Admin-asset/dist/css/style.min.css')" data-color="blue_theme"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME"><i
                                class="ti ti-check text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin2-aquatheme-primary "
                            onclick="toggleTheme('/Admin-asset/dist/css/style-aqua.min.css')" data-color="aqua_theme"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin3-purpletheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-purple.min.css')" data-color="purple_theme"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin4-greentheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-green.min.css')" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="GREEN_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin5-cyantheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-cyan.min.css')" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="CYAN_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                    <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0)"
                            class="rounded-circle position-relative d-block customizer-bgcolor skin6-orangetheme-primary"
                            onclick="toggleTheme('/Admin-asset/dist/css/style-orange.min.css')" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="ORANGE_THEME"><i
                                class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layout-type pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Layout Type</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="index" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-layout-sidebar fs-6 text-primary"></i>
                    <span class="text-dark">Vertical</span>
                </a>
                <a href="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/html/horizontal/index"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2">
                    <i class="ti ti-layout-navbar fs-6 text-dark"></i>
                    <span class="text-dark">Horizontal</span>
                </a>
            </div>
        </div>
        <div class="container-option pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Container Option</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 boxed-width text-dark">
                    <i class="ti ti-layout-distribute-vertical fs-7 text-primary"></i>
                    <span class="text-dark">Boxed</span>
                </a>
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 full-width text-dark">
                    <i class="ti ti-layout-distribute-horizontal fs-7"></i>
                    <span class="text-dark">Full</span>
                </a>
            </div>
        </div>
        <div class="sidebar-type pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Sidebar Type</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 fullsidebar">
                    <i class="ti ti-layout-sidebar-right fs-7"></i>
                    <span class="text-dark">Full</span>
                </a>
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center text-dark sidebartoggler gap-2">
                    <i class="ti ti-layout-sidebar fs-7"></i>
                    <span class="text-dark">Collapse</span>
                </a>
            </div>
        </div>
        <div class="card-with pb-4">
            <h6 class="fw-semibold fs-4 mb-1">Card With</h6>
            <div class="d-flex align-items-center gap-3 my-3">
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 text-dark cardborder">
                    <i class="ti ti-border-outer fs-7"></i>
                    <span class="text-dark">Border</span>
                </a>
                <a href="javascript:void(0)"
                    class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 cardshadow">
                    <i class="ti ti-border-none fs-7"></i>
                    <span class="text-dark">Shadow</span>
                </a>
            </div>
        </div>
    </div>
</div>