<!DOCTYPE html>
<html>
<head>
    <title>Superadmin Exam</title>
    <link rel="stylesheet" type="text/css" href="/Admin-asset/css/style.css">
</head>
<body>
   
    <div class="container">
        <h1>Exam Management</h1>
        <p>Welcome to the Exam Management page, <%= user.username %>!</p>
        <!-- Add your exam management content here -->
    </div>
    <script src="/Admin-asset/js/script.js"></script>
</body>
</html>
